@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Bitter');

html {
	height: 100%;
	width: 100%;
}

.background {
	background-color: rgb(245, 245, 245);
	margin: 0;
}

#header {
	height: 65px;
	width: 100%;
	background: #c37676;;
}

.title {
	font-family: 'Bitter', serif;
	color: hsl(0, 0%, 60%);
}

.title {
	margin-left: 10px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	margin-top: 100px;
}

.header_painel1 {
	border: 3px solid brown;
	border-right: 0px;
	border-left: 0px;
	height: 60px;
	line-height: 60px;
	width: 50%;
	float: left;
}

.header_painel2 {
	border: 3px solid brown;
	border-right: 0px;
	border-left: 0px;
	height: 60px;
	width: 50%;
	float: left;
}

.header-painel2 {
	position: center;
	background-color: #c37676;
	height: 60px;
	width: 100%;
	line-height: 60px;
}

.menu {
	display: inline-block;
	text-align: center;
	height: 60px;
	width: 100%;
	margin-bottom: 1px;
	border: 3px solid brown;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	background: #bfbfbf;
}

.menu.but {
	float: right;
	width: 300px;
}

#tabuleiro, #tableclass {
	margin: auto;
	width: 450px;
	padding: 30px;
	height: 450px;
}

#quem_joga, #try_again{
	display: none;
}

.td {
	
	
	height: 2px;
	width:2px;
	text-align: center;
	background-color: rgb(210,105,30);
	border-radius:50%;
	}

.td:hover {
	height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	background-color: gray;
}

.temporario{
height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	
	
    background-color:grey;
}

.inactive {
	height: 2px;
	width: 2px;
	text-align: center;
	border-radius: 50%;
	background-color: rgb(245, 245, 245);
}

.active {
	height: 2px;
	width: 2px;
	text-align: center;
	border-radius: 50%;
	background-color: grey;
}

.tr {
	text-align: center;
	background-color: rgb(210, 105, 30);
}

/*
#center{
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 500px;
	width: 100% !important;
}*/
#login, #registo, #login_2 {
	font-family: Courier New;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: 1px solid orange;
    margin-top: 7px;
}

#login {
	margin-right: 10px;
}

#login:hover, #registo:hover {
	background: #9c9d9e;
	text-decoration: none;
}

#demo, #demo_2, #demo_3 {
	display: none;
}

#painel_1, #painel_2, #painel_3 {
	display: table;
	width: 100%;
	height: 1000px;
	text-align: center;
	align-content: center;
}

#painel_2 {
	display: none;
}

#painel_3 {
	width: 100%;
	height: 780px;
}

.header {
	width: 100%;
	height: 100px;
}

#bot {
	text-align: center;
}

.app_name {
	width: 100%;
}

.app_btns {
	width: 100%;
}

.app_btn {
	float: right;
}

#pc_uti {
	color-background: blue;
}

/*
.header-painel2{
	width:100%;
	height: 60px;
}*/
#gerar_tab, #first_play {
	display: none;
}

#speech-bubble {
	position: relative;
	background: #ad2100;
	border-radius: .4em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-bottom-color: #ad2100;
	border-top: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-top: -35px;
}

#instrucoes, #jogar, #configuracoes, #classficacoes {
	width: 60px;
	height: 60px;
	background: transparent;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	margin-left: 15px;
}

#configuracoes {
	background-image: url('settings.png');
}

#jogar {
	background-image: url('play.png');
}

#classficacoes {
	background-image: url('ranking.png');
}

#instrucoes {
	background-image: url('rules.png');
}