@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');

html{
	height: 100%;
	width: 100%;
}

.background{
	background-color: hsl(38, 90%, 80%);
	margin: 0;
}
.title{
	font-family: 'Bitter', serif;
	color: hsl(0, 0%, 60%) ;
	}
.header-painel2 {
position: center;	
background-color: #bfbfbf;
height: 60px;
width:100%;
line-height: 60px;
}

#tabuleiro, #tableclass{
	margin: auto;
    width: 200px;
    padding: 30px;
    height: 200px;
}

.td {
	
	
	height: 2px;
	width:2px;
	text-align: center;
	background-color: rgb(210,105,30);
	border-radius:50%;
	}

.td:hover{
	height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	
	background-color: gray	;
}

.temporario{
height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	
	
    background-color:grey;
}
.inactive {
	
	height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	

    background-color: hsl(38, 90%, 80%);
}
.active {
	height: 2px;
	width:2px;
	text-align: center;
	border-radius:50%;
	
	
    background-color:grey;
}
.tr {
	
	text-align: center;
	background-color: rgb(210,105,30);
}/*
#header,#menu{
	height: 35px;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
}
#center{
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 500px;
	width: 100% !important;
}*/
#login, #registo, #login_2{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #991616;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

#login:hover, #registo:hover{

  background: #9c9d9e;
  text-decoration: none;
}

#demo,#demo_2,#demo_3{
	display: none;
}

.title {
	font-size: 40px;
	font-weight: bold;
	margin-top: 100px;	
}
#painel_1, #painel_2, #painel_3{
 	display: table;
	width: 100%;
	height: 1000px;
	text-align:center;	
	align-content: center;
}
#try_again{
	display:none;
}

#painel_2{
	display: none ;
}
#painel_3{
	width: 100%;
	height: 680px;
}
.header {
	width: 100%;
	height: 100px;
}

.header_painel1 {
	height: 60px;
	width: 50%;
	float:left;
}

.header_painel2 {
	height: 60px;
	width: 50%;
	float:left;
}

.app_name {
	width: 100%;
}
.app_btns {
	width: 100%;
}

.app_btn {
	float: right;
}

#pc_uti{
	color-background: blue;
}

.header-painel2{
	width:100%;
	height: 60px;
}

#gerar_tab, #first_play{
	display: none;
}

#speech-bubble {
	position: relative;
	background: #ad2100;
	border-radius: .4em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-bottom-color: #ad2100;
	border-top: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-top: -35px;
}

