@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');

html{
	height: 100%;
	width: 100%;
}
.background{
	background-color: hsl(38, 90%, 80%);
}
.h1{
	width: 10%;
    height: 35px;
    position: center;
	font-family: 'Bitter', serif;
	color: hsl(0, 0%, 60%) ;
    text-align: center;
    float: left;
    
}

.user_account{
	float: right;
}

#tabuleiro, .tableclass{
	margin: auto;
    width: 700px;
    padding: 30px;
    height: 500px;
}

.td {
	border: 1px solid black;
	height: 50px;
	width:50px;
	text-align: center;
	background-color: rgb(210,105,30);
	
	
}
.tr {
	border: 1px solid black;
	text-align: center;
		background-color: rgb(210,105,30);
}
#header,#menu{
	height: 35px;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
}
#center{
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 500px;
	width: 100% !important;
}
#login, #registo{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #991616;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

#login:hover, #registo:hover{

  background: #9c9d9e;
  text-decoration: none;
}